body {
  padding: 0em;
  margin: 0em;
  background-color: #f1f9fe;
  font-family: sans-serif;
  display: grid;
}
.main_container {
  display: grid;
  justify-content: center;
  grid-row-gap: 1em;
  background-color: #f1f9fe;
  padding-top: 5em;
  padding-bottom: 3em;
}
.todo_label {
  color: #b6babd;
  font-size: 2em;
}
.new_card_btn {
  width: 30em;
  outline-color: #52aefb;
  height: 2em;
  background-color: white;
  color: #52aefb;
  font-size: 1.5em;
  border: none;
  text-align: start;
}
input[type="text"]{
    margin:1em;
    width:30rem;
    height: 1.5em;

}
#checkItem {
    padding:0px;
    margin:0px;
}
.checklistItem {
  display: grid;
  grid-template-columns: 10% 70% 20%;
  font-size: 1.5em;
}
.check_boxes {
  width: 20px;
  height: 20px;
}
#delete_icon{
    font-size:22px;
}
.strike{
    text-decoration: line-through;
}
